/*...start...*/
*, *::before, *::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span, ul, li, p
{
    font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
    text-decoration: none;
    list-style-type: none;
}
h1
{
    font-size: 28px;
}
h2, span
{
    font-size: 25px;
}
h3
{
    color: #00e100;
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
}
h4
{
    color: #00e100;
    font-family: monospace;
    font-size: 28px;
}
h5
{
    color: #10cfc9;
    letter-spacing: 3px;
    line-height: 1.4;
    font-size: 26px;
    margin-top: ;
}
h6
{
    color: #10cfc9;
    letter-spacing: 3px;
    line-height: 1.4;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 60px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.clear
{
    clear: both;
    margin: 50px auto;
}



/*...basic...*/
.background
{
    width: 100%;
    height: 100%;
    /* background-image: url(./img/NUMBER_01.png); */
    background-color: black;
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;
    background-attachment: scroll;
    /* z-index: 1; */
    top: 0;
    left: 0;
}
.container{
    width: 1920px;
    height: 1080px;
    margin: 0px auto;
    /* overflow: hidden; */
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: black;
}
.whole
{
    width: 100%;
    height: auto;
    top: -2160px;
    left: 0px;
    position: absolute;
}
.shadow
{
    mix-blend-mode: multiply;
    top: 0px;
    left: 0px;
}
.img{
    max-width: 100%;
    margin: 0px auto;
}
h1
{
    color: white;
    font-size: 28px;
    font-weight: 400;
    font-family: "微軟正黑體";
    letter-spacing: 8px;
    line-height: 2.2;
}

/*...start...*/

.contact
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #10cfc9;
}
.shadow5
{
    mix-blend-mode: multiply;
    top: 0px;
    left: 0px;
}
.Q1, .Q2, .Q3, .Q4, .Q5, .Q6
{
    font-size: 25px;
    letter-spacing: 2px; 
}
.AAA
{
    margin-top: 16px;
    margin-left: -3px;
    display: none;
}
.A1, .A2, .A3, .A4, .A5, .A6
{
    font-size: 22px;
    letter-spacing: 2px; 
    padding-left: 28px;
    margin-top: -28px;
    color: #10cfc9e0;
    display: none;
}